In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="darkgrid")
import warnings
warnings.simplefilter("ignore")

In [12]:
df = pd.read_csv('parks.csv')
df

,Park Code,Park Name,State,Acres,Latitude,Longitude
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21
1,ARCH,Arches National Park,UT,76519,38.68,-109.57
2,BADL,Badlands National Park,SD,242756,43.75,-102.50
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42
11,CONG,Congaree National Park,SC,26546,33.78,-80.78
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55
14,DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93
18,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00
20,GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14
23,GRSA,Great Sand Dunes National Park and Preserve,CO,42984,37.73,-105.51
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90
32,KATM,Katmai National Park and Preserve,AK,3674530,58.50,-155.00
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28
35,LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16
44,REDW,Redwood National Park,CA,112512,41.30,-124.00
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50
47,SEKI,Sequoia and Kings Canyon National Parks,CA,865952,36.43,-118.68
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50
55,ZION,Zion National Park,UT,146598,37.30,-113.05

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
Park Code    56 non-null object
Park Name    56 non-null object
State        56 non-null object
Acres        56 non-null int64
Latitude     56 non-null float64
Longitude    56 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.8+ KB

In [4]:
df.describe()

              Acres   Latitude   Longitude
count  5.600000e+01  56.000000   56.000000
mean   9.279291e+05  41.233929 -113.234821
std    1.709258e+06  10.908831   22.440287
min    5.550000e+03  19.380000 -159.280000
25%    6.901050e+04  35.527500 -121.570000
50%    2.387645e+05  38.550000 -110.985000
75%    8.173602e+05  46.880000 -103.400000
max    8.323148e+06  67.780000  -68.210000

In [5]:
df.isnull().sum()

Park Code    0
Park Name    0
State        0
Acres        0
Latitude     0
Longitude    0
dtype: int64

In [6]:
df['Park Name'].value_counts()

Hot Springs National Park                         1
Rocky Mountain National Park                      1
Saguaro National Park                             1
Shenandoah National Park                          1
Joshua Tree National Park                         1
Dry Tortugas National Park                        1
Grand Canyon National Park                        1
Sequoia and Kings Canyon National Parks           1
Bryce Canyon National Park                        1
Yellowstone National Park                         1
Gates Of The Arctic National Park and Preserve    1
Capitol Reef National Park                        1
Kobuk Valley National Park                        1
Carlsbad Caverns National Park                    1
Wrangell - St Elias National Park and Preserve    1
Pinnacles National Park                           1
Mesa Verde National Park                          1
Lake Clark National Park and Preserve             1
Great Sand Dunes National Park and Preserve       1
Glacier Bay National Park and Preserve            1
Big Bend National Park                            1
Biscayne National Park                            1
Grand Teton National Park                         1
Cuyahoga Valley National Park                     1
Great Smoky Mountains National Park               1
Yosemite National Park                            1
Channel Islands National Park                     1
Olympic National Park                             1
Everglades National Park                          1
Redwood National Park                             1
Crater Lake National Park                         1
Glacier National Park                             1
Denali National Park and Preserve                 1
Mammoth Cave National Park                        1
Petrified Forest National Park                    1
Death Valley National Park                        1
Arches National Park                              1
Voyageurs National Park                           1
Guadalupe Mountains National Park                 1
Badlands National Park                            1
Isle Royale National Park                         1
Wind Cave National Park                           1
Canyonlands National Park                         1
Haleakala National Park                           1
Mount Rainier National Park                       1
Congaree National Park                            1
Zion National Park                                1
Hawaii Volcanoes National Park                    1
Lassen Volcanic National Park                     1
Theodore Roosevelt National Park                  1
Kenai Fjords National Park                        1
Acadia National Park                              1
Black Canyon of the Gunnison National Park        1
Great Basin National Park                         1
North Cascades National Park                      1
Katmai National Park and Preserve                 1
Name: Park Name, dtype: int64

In [13]:
df.groupby(['State','Park Name'])

In [15]:
import plotly.graph_objects as go
for col in df.columns:
    df[col] = df[col].astype(str)
df['text'] = df['Park Name']
fig = go.Figure(data=go.Choropleth(
    locations=df['State'],
    z=df['Acres'].astype(float),
    locationmode='USA-states',
    colorscale='Reds',
    autocolorscale=False,
    text=df['text'],
    marker_line_color='white', # line markers between states
    colorbar_title="Acres"
))
fig.update_layout(
    title_text='US National Parks',
    geo = dict(
        scope='usa',
        projection=go.layout.geo.Projection(type = 'albers usa'),
        showlakes=True, # lakes
        lakecolor='rgb(255, 255, 255)'),
)


fig.show()

ModuleNotFoundError: No module named 'plotly'

In [7]:
df2 = pd.read_csv('species.csv')
df2.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
Species ID             119248 non-null object
Park Name              119248 non-null object
Category               119248 non-null object
Order                  117776 non-null object
Family                 117736 non-null object
Scientific Name        119248 non-null object
Common Names           119248 non-null object
Record Status          119248 non-null object
Occurrence             99106 non-null object
Nativeness             94203 non-null object
Abundance              76306 non-null object
Seasonality            20157 non-null object
Conservation Status    4718 non-null object
Unnamed: 13            5 non-null object
dtypes: object(14)
memory usage: 12.7+ MB

In [9]:
df2.isnull().sum()

Species ID                  0
Park Name                   0
Category                    0
Order                    1472
Family                   1512
Scientific Name             0
Common Names                0
Record Status               0
Occurrence              20142
Nativeness              25045
Abundance               42942
Seasonality             99091
Conservation Status    114530
Unnamed: 13            119243
dtype: int64

In [19]:
df2 = df2.iloc[:,:-1]
df2.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder

In [20]:
df_cons_s = pd.crosstab(df2['Category'], df2['Conservation Status'], margins=True)
df_cons_spe

KeyError: 'Conservation Status'